/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

/******************************************
/* LAYOUT
/*******************************************/
h1,h2 {
  text-align: center;
}

.search {
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
